

.header {
    align-items: center;
    max-width: 390px;
}

.profile {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.button-item {
    
    border-radius: 8px;
    border: 0;
}


.button-text {
    
    flex-direction: column;
        
}

.button-text span {
    font-size: 30%; /* Уменьшаем размер шрифта вложенного текста */
}